{% load bootstrap4 %}
{% load static %}
<html>
	
<head>
	<link rel="stylesheet" href="{% static 'css/generate_pdf.css' %}"> 
	{% bootstrap_css %} 
	{% bootstrap_javascript %}
	<title>Cоздай свое резюме</title>
</head>


<body>
	
	<h1>Cоздай свое резюме</h1>

	<br>
	<div class="container">
		<form action="{{ request.build_absolute_uri }}resume_create/" method="GET" enctype="multipart/form-data" class="row"> 
			{% csrf_token %}
			<div class="col-4">
				<h3>Персональная информация</h3>
				<input name="firstname" type="text" class="form-control" placeholder="Имя" style="text-align:center">
				<input name="lastname" type="text" class="form-control" placeholder="Фамилия" style=" text-align:center">
				<input name="phone" type="text" class="form-control" placeholder="Телефон" style=" text-align:center">
				<input name="email" type="text" class="form-control" placeholder="Email" style=" text-align:center">
				<input name="address" type="text" class="form-control" placeholder="Адрес" style=" text-align:center">
				<input name="positions" type="text" class="form-control" placeholder="Желаемая должность" style=" text-align:center">
				<input name="skills" type="text" class="form-control" placeholder="Навыки" style=" text-align:center">
				<textarea name="about" type="text" class="form-control" placeholder="Обо мне" style=" text-align:center"></textarea>
				<input class='btn btn-success' type="submit" value="Создать">
			</div>

			<div class="col-4" name="educations" id="educations">
                <h3>Образование</h3>
                <br>
            
                
                
                <div class="input-group">
				<input class="form-control width100" id="i_ed" name="counter_1" type="text" value="0"   readonly>
               
                <button class="btn btn-primary" type="button" onclick="new_education()">+</button></div>
               </div>
			
			<div class="col-4" name="experiences" id="experiences">
                <h3>Опыт работы</h3>
                <br>
				<input class="form-control"  id="i_ex" name="counter_2" type="text" value="0" style="width: 56%;"  readonly>
                <button class="btn btn-primary" type="button" onclick="new_experinece()">Добавить опыт работы</button>
		</div>
		</form>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/generate_pdf.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

</body>

</html>