<!doctype html>
<html lang="en">
	<head>
	<title>Проверка резюме</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<center>
				<div class="col-8">
					<h1>Оценка вашего резюме</h1>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{percentage}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percentage}}%</div>
					</div>
					<br>



					<form action="{{ request.build_absolute_uri }}test/">

						<input class='btn btn-default' type="submit" value="Пройдите тест чтобы улучшить резюме" />
						<br>

					</form>
					<br>

					
					<div class="alert alert-warning" role="alert">
						{% for value in reccomendations %} 
							{% if "position" in value %} У вас слишком мало информации в категории: Позиция {% endif %}
							{% if "education" in value %} У вас слишком мало информации в категории: Образование  {% endif %}
							{% if "skills" in  value   %}  У вас слишком мало информации в категории: Навыки {% endif %}
							{% if "experience" in  value   %}У вас слишком мало информации в категории: Опыт работы {% endif %}
							{% if "language" in value   %}У вас слишком мало информации в категории: Языки {% endif %}
							{% if "about" in value   %}У вас слишком мало информации в категории: Дополнительная информация {% endif %}
							{% if "reference" in value   %}У вас слишком мало информации в категории: Рекомендации {% endif %}

							<br> 
						{% endfor %}
					</div>

				</div>
			</center>
		</div>
		
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	</body>
</html>

