{% load static %}
<html>
  <head>
    
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">
  </head>
  <body>
    
    <div id="container">
      
      <div class="container_inner">
          
      <div class="wrapper clearfix">
      <div id="about" class="clearfix">
        
        <h1 id="name">{{resume.firstname}} {{resume.lastname}}
            
                    <img id="image" src="{% static 'css/0.png' %}" alt="Italian Trulli" align="right" >
        </h1>
   
      </div>
     
     <div> 
      <ul id="contact">
        {% if resume.phone %}
            <li><span><b>Телефон:</b></span><strong>{{resume.phone}}</strong></li>
        {% endif %}
        {% if resume.email %}
            <li><span>Email:</span><strong id="strong"><a class="email" ></a>{{resume.email}}</a></strong></li>
        {% endif %}
        {% if resume.address  %}
            <li><span>Адрес</span><strong>{{resume.address}}</strong></li>
        {% endif %}
      </ul><!--contact-->
      </div>
    </div><!--wrapper-->

      <div id="content">
         
        {% if resume.positions %}
          <div class="section">
              <div class="section_header">
                  <span>Желаемая должность</span>
              </div><!--section-header-->
              <div class="description">
                  <p>
                      {{resume.positions}}
                  </p>
              </div>
          </div><!--section-->
        {% endif %}  
        {% if resume.educations %}
          <div class="section">
              <div class="section_header">
                <span>Образование</span>
              </div><!--section-header-->
              {% for education in resume.educations %}
              <div class="item">
                <h3>{{education.name}}</h3>
                <h4><i>{{education.degree}}</i></h4>
                {%if education.start_date and education.end_date %}
                <div class="date">{{education.start_date}} to {{ education.end_date }}</div>
                {%endif%}
                {% if education.description %}
                  <div class="description">
                    <p>{{ education.description }}</p>
                  </div>
                {% endif %}
              </div>
              {% endfor %}
          </div><!--section-->
        {% endif %}
        {% if resume.experiences %}
          <div class="section">
            <div class="section_header">
              <span>Опыт работы</span>
            </div><!--section-header-->
            
          {% for experience in resume.experiences %}
            <div class="item">
              <h3>{{ experience.name }}</h3>
              <h4><i>{{ experience.degree }}</i></h4>
              <div class="date">{{ experience.start_date }} to {{ experience.end_date }}</div>
              <div class="description">
                <p>{{ experience.description }}</p>
              </div>
            </div>
          {% endfor %}
          </div><!--section-->
        {% endif %}
      </div><!--content-->
  
    <div class="sidebar">
      {% if resume.skills %}
        <div class="section skills">
          <div class="section_header">  
            <span>Навыки</span>
          </div><!--section-header-->
      
          <div class="item">
              <p>  
                {{ resume.skills }}
              </p>
          </div>
        </div><!--skills-->
      {% endif %}
    
      {% if resume.languages %}
        <div class="section skills">
            <div class="section_header">  
              <span>Знание языков</span>
            </div><!--section-header-->
            
            {% for language in resume.languages %}  
            <div class="description">
                <p>{{language.name}} - {{language.level}}</p>
            </div>
            {% endfor %}
        </div><!--skills-->
      {% endif %}
      
      {% if resume.about %}
        <div class="section skills">
            <div class="section_header">  
              <span>Дополнительная информация</span>
            </div><!--section-header-->  
            <div class="description">
                <p>{{resume.about}}</p>
            </div>
        </div><!--skills-->
      {% endif %}

    </div><!--sidebar-->
    </div><!--container_inner-->
    </div><!--container-->
      
  </body>
</html>