{% load bootstrap4 %}

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <title>Vacancies</title>

  <style>
	#header {
	  color: #ffff;
	  font-size: 23px;
	  background-color: #9DD2E9;
	  padding: 2%;
	  text-align: center;
	}

	#success_body {
	  padding: 5px;
	}

	table {
	  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	  font-size: 14px;
	}
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


  <link href="css/addons/datatables.min.css" rel="stylesheet"> {% bootstrap_css %} {% bootstrap_javascript %}

</head>

<body id="success_body">

  <!-- {{cv_summary}} -->

  <div class="container-fluid header">


    <header id="header"> Подходящие вакансии </header>
    <br> {% if recommend_len > 0 %}
    <div class="alert alert-warning" role="alert">
      {% for value in recommend %} 
      
      {% if "position" in value %} У вас слишком мало информации в категории: Позиция {% endif %}
      {% if "education" in value %} У вас слишком мало информации в категории: Образование  {% endif %}
      {% if "skills" in  value   %}  У вас слишком мало информации в категории: Навыки {% endif %}
      {% if "experience" in  value   %}У вас слишком мало информации в категории: Опыт работы {% endif %}
      {% if "language" in value   %}У вас слишком мало информации в категории: Языки {% endif %}
      {% if "about" in value   %}У вас слишком мало информации в категории: Дополнительная информация {% endif %}
      {% if "reference" in value   %}У вас слишком мало информации в категории: Рекомендации {% endif %}

      <br> {% endfor %}
    </div>
    {% endif %}


    <form action="{{ request.build_absolute_uri }}show_json/" method="GET">
 
      <input class='btn btn-default' type="submit" value="JSON file" />

    </form>

    <form action="{{ request.build_absolute_uri }}show_xml/" method="GET">

      <input class='btn btn-default' type="submit" value="XML file" />
     

    </form>

    <form action="{{ request.build_absolute_uri }}test/">

      <input class='btn btn-default' type="submit" value="Пройти тест" />
      <br>

    </form>
    <form action="{{ request.build_absolute_uri }}rate/">

      <input class='btn btn-default' type="submit" value="Оцени свое резюме" />
      <br>

    </form>


    <div class="table-wrapper">

      <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead class="">
          <tr>
            <th class="th-sm" aria-hidden="true">Название работы
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Регион
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Зарплата
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Описание работы
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Email
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Телефон
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Ссылка
              <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>

        {% for vacant in vacants %}
        <tbody>
          <tr>
            {%for key,value in vacant.items%}
            <td>{{ value }}</td>
            {%endfor%}
          </tr>
        </tbody>
        {% endfor %}

      </table>
    </div>



    <!-- <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="js/popper.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/mdb.min.js"></script> -->

    <!-- <script type="text/javascript">
    
      $(document).ready(function () {
        $('#dtBasicExample').DataTable({
          "paging": false // false to disable pagination (or any other option)
        });
        $('.dataTables_length').addClass('bs-select');
      });
    
    </script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/addons/datatables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
</body>

</html>