h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    text-align: center
}

h3 {
    font-size: 1em;
    color: #777777;
    text-align: left
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

.element_ed {
    margin-top: 20px;
    
}
#i_ed{
    margin-right: 10px;
}

