
html{

    margin-top: 15px;
    
}
#btn_main{
   margin-left: 10px;
}

h1 {
    margin-top: 15px;
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    text-align: center
    
}

.btn{
    margin-right:5px;
}
h3 {
    font-size: 1em;
    color: #777777;
    text-align: left
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

.element_ed {
    margin-top: 20px;
    
}

#i_ed{
    margin-right: 10px;
}

