
{% load bootstrap4 %}

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" > </script>
  <title>Vacancies</title>

  <style>
	#header {
	  color: #ffff;
	  font-size: 23px;
	  background-color: #9DD2E9;
	  padding: 2%;
	  text-align: center;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;

	}

	#success_body {
	  padding: 5px;
	}

	#dtBasicExample {
	  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	  font-size: 14px;
	}
  td {
    word-wrap: break-word;
    max-width: 15px;
    background-color: #ffff;
  }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


  <link href="css/addons/datatables.min.css" rel="stylesheet"> {% bootstrap_css %} {% bootstrap_javascript %}
  <script src="js/jquery-1.11.3.min.js"></script>

  </head>
  <body id="success_body">

    <div class="container-fluid header">
    <header id="header"> Результаты поиска </header>
        
    <br>
    <div class="table-wrapper">
<!--table footable table-striped table-bordered table-sm-->
    <table id="dtBasicExample" class="display" cellspacing="0" width="100%">
            <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td>Jennifer Chang</td>
                        <td>Regional Director</td>
                        <td>Singapore</td>
                        <td>28</td>
                        <td>2010/11/14</td>
                        <td>$357,650</td>
                    </tr>
                   
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
    </table>
  </div>

</body>

<script>

    $(document).ready(function() {
    $('#dtBasicExample').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>
</html>
